<% content_for :title do %>About<% end %>
<h3>Ammaar Reshi </h3>
<p>It can be argued that the computer is humanity’s attempt to replicate the human brain. This is perhaps an unattainable goal. However, unattainable goals often lead to outstanding accomplishment</p>
